/* colors */
$primary: #EC4E00;
/* $secondary: #eecc91; */
$secondary: #c5ac00;
/* $tertiary: #c2beb8; */
$tertiary: #ba3a38;
$lighter: #e4e0da;

/* fonts */
$header: 'Josefin Sans', sans-serif;

.btn_secondary {
	background-color: $secondary;
	color: white;
	font-weight: 500;
	font-size: 18px;
	border: none;
	height: 40px;
}

.btn_secondary_light {
	border: 1px solid $secondary !important;
	color: $secondary;
	font-weight: 500;
	font-size: 18px;
	border: none;
	height: 40px;
}

.btn_tertiary {
	background-color: $tertiary;
	color: white;
	font-weight: 500;
	font-size: 18px;
	border: none;
	height: 40px;
}

.btn_tertiary_light {
	border: 1px solid $tertiary !important;
	color: $tertiary;
	font-weight: 500;
	font-size: 18px;
	border: none;
	height: 40px;
}